body {
  padding-bottom: 5%; }
  
abbr[title] {
  text-decoration: none; }
  
#contents li,
.education li,
.jobtitle {
  margin-bottom: 0; }

.small-bottom-margin {
    margin-bottom: 0.5rem;}

.section-border {
  border-top: 4px double #ccc;
  margin-top: 2rem;
  padding-top: 2rem; }

.name {
  font-size: 5.5rem;
  margin-bottom: 0; }

.ipa {
  font-size: 1.3rem;
  font-family: monospace; }

.center {
  text-align: center; }

abbr:hover::after {
  content:' (' attr(title) ')'; }

@media screen and (min-width: 550px)
{
  abbr[title]:after {
    content: ""; }
}
